* {
    font-family: sans-serif;
    color: #484A4C;
    background-color: #74A8CB;
    margin: 0;
}

/* @font-face {
	font-family: 'linowrite';
	src: url('../../../fonts/linowrite.ttf');
} */

.quick-info-entry {
    font-size: 17px;
    margin-bottom: 12px;
}

.quick-info-entry strong {
    font-size: 18px;
    font-weight: bolder;
}

.bio {
    font-size: 16px;
}

td > .bio-image {
    width: 280px;
}

.bio-image {
    height: auto;
    width: 100%;
    border: 8px double #A65353;
}

html {
    height: 100%;
    overflow-y: scroll;
    /*background-color: #DEF2FF;*/
    /*background: url('../images/pattern-dmxt.png');*/
    background-color: #f6f6f6;
    background-image: url('../images/notebook-dark.png');
    /*http://www.transparenttextures.com*/
}

body {
    background: transparent;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    background: transparent;
    min-width: 1100px;
    text-align: center;
}

.header {
    position: relative;
    z-index: 1;
    height: 28px;
    background-color: #484A4C;
    width: 100%;
    box-shadow: 4px 4px 2px #373737;
}

.navbar {
    margin: 0 auto;
    margin-bottom: 64px;
    float: left;
}

.column-container {
    padding: 36px 54px 0 22px;
    width: 1024px;
    display: inline-block;
    background-color: rgba(116, 168, 203, .70);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.column-container * {
    background-color: transparent;
    text-align: left;
}

.left-column {
    float: left;
    width: 440px;
    min-height: 100%;
}

.right-column {
    float: right;
    width: 100%;
    max-width: 550px;
    min-height: 100%;
}

.content {
    width: 100%;
    border-radius: 4px;
    float: left;
    padding: 16px;
    margin-bottom: 34px;
    background-color: #FFFFFF;
    box-shadow: 1px 0px 1px #CACAD2,
    0px 1px 1px #484A4C,
    2px 1px 1px #CACAD2,
    1px 2px 1px #484A4C,
    3px 2px 1px #CACAD2,
    2px 3px 1px #484A4C,
    4px 3px 1px #CACAD2,
    3px 4px 1px #484A4C,
    5px 4px 1px #CACAD2,
    4px 5px 1px #484A4C,
    6px 5px 1px #CACAD2,
    5px 6px 1px #484A4C,
    7px 6px 1px #CACAD2,
    6px 7px 1px #484A4C,
    8px 7px 1px #CACAD2,
    7px 8px 1px #484A4C;
}

.content * {
    word-wrap: break-word;
    background-color: #FFFFFF;
}

.content h1 {
    margin-bottom: 12px;
}

.content table td {
    padding: 16px;
}

.content li {
    margin-bottom: 8px;
    margin-left: 5%;
}

.content a {
    color: #2A2F89;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
}

.content span {
    font-weight: bold;
    font-size: 20px;
}

.projects {
    border: 2px dotted #484A4C;
    padding: 8px;
    margin: 3px;
    background-color: #F2F2F2;
}

.projects * {
    background-color: #F2F2F2;
}

.projects p {
    font-weight: 500;
}

.projects p a {
    text-decoration: underline;
    font-weight: normal;
    float: none;
    vertical-align: top;
}

.section-header {
    text-align: center;
    font-style: italic;
    padding: 14px;
    color: #6B6D70;
}

.section-header-quote {
    font-size: 24px;
}

.section-header-author {
    text-align: right;
}

.level {
    cursor: pointer;
    border-radius: 4px;
    text-indent: 12px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 42px;
    background-color: #FFFFFF;
    padding: 12px 8px 2px 0px;
    margin-top: 32px;
    /*box-shadow: .3em .3em .15em #373737;*/
    box-shadow: 1px 0px 1px #CACAD2,
    0px 1px 1px #484A4C,
    2px 1px 1px #CACAD2,
    1px 2px 1px #484A4C,
    3px 2px 1px #CACAD2,
    2px 3px 1px #484A4C,
    4px 3px 1px #CACAD2,
    3px 4px 1px #484A4C,
    5px 4px 1px #CACAD2,
    4px 5px 1px #484A4C,
    6px 5px 1px #CACAD2,
    5px 6px 1px #484A4C,
    7px 6px 1px #CACAD2,
    6px 7px 1px #484A4C,
    8px 7px 1px #CACAD2,
    7px 8px 1px #484A4C;
}

.level img {
    background: none;
    height: 48px;
    width: 48px;
    margin-top: -8px;
    float: right;
    border-style: none;
    margin-right: 2px;
}

.level:hover {
    background-color: #E4F0C7;
    box-shadow: 1px 0px 1px #BDCF92,
    0px 1px 1px #5B683A,
    2px 1px 1px #BDCF92,
    1px 2px 1px #5B683A,
    3px 2px 1px #BDCF92,
    2px 3px 1px #5B683A,
    4px 3px 1px #BDCF92,
    3px 4px 1px #5B683A,
    5px 4px 1px #BDCF92,
    4px 5px 1px #5B683A,
    6px 5px 1px #BDCF92,
    5px 6px 1px #5B683A,
    7px 6px 1px #BDCF92,
    6px 7px 1px #5B683A,
    8px 7px 1px #BDCF92,
    7px 8px 1px #5B683A;
}

.selected {
    background-color: #FFFED3;
    box-shadow: 1px 0 1px #FFD0AB,
    0px 1px 1px #95786A,
    2px 1px 1px #FFD0AB,
    1px 2px 1px #95786A,
    3px 2px 1px #FFD0AB,
    2px 3px 1px #95786A,
    4px 3px 1px #FFD0AB,
    3px 4px 1px #95786A,
    5px 4px 1px #FFD0AB,
    4px 5px 1px #95786A,
    6px 5px 1px #FFD0AB,
    5px 6px 1px #95786A,
    7px 6px 1px #FFD0AB,
    6px 7px 1px #95786A,
    8px 7px 1px #FFD0AB,
    7px 8px 1px #95786A;
}

.generic-entry {
    padding:8px;
}

#home {
    width: 100%;
    margin-top: 0;
}

#about {
    width: 91%;
}

#skills {
    width: 82%;
}

#experience {
    width: 73%;
}

#projects {
    width: 64%;
}

#interests {
    width: 55%;
}

#contact {
    width: 46%;
}

.indent {
    text-indent: 20px;
    line-height: 24px;
}

.skillset {
    display: inline-block;
    padding: 14px 14px 14px 20px;
    vertical-align: top;
    white-space: nowrap;
    width: 40%;
}

.skillset h3 {
    margin-bottom: 10px;
}

.skillset ul {
    padding-left: 14px;
}

.contact-link {
    font-size: 28px;
    font-weight: bold;
    text-align: left !important;
}

.linkedin-image {
    height: 53px;
    width: 60px;
    padding: 4px;
    border-style: none;
    background-color: white;
    vertical-align: middle;
}

.phone-image {
    height: 60px;
    width: 44px;
    padding: 12px;
    vertical-align: middle;
}

.email-image {
    height: 60px;
    padding-right: 10px;
    vertical-align: middle;
}

.email-form {
}

.form-component {
    padding: 4px;
}

.footer {
    background-color: transparent;
    position: fixed;
    width: 100px;
    bottom: 0;
    left: 0;
}

.footer * {
    background-color: transparent;
}

.toggle_visibility_button {
}

.toggle_visibility_button:hover {
    cursor: pointer;
}
                            