@font-face {
	font-family: arcade;
	src: url('fonts/ArcadepixPlus.ttf');
}

html * {
   font-family: arcade !important;
   color: white !important; 
}

h1 {
	font-size: 78px;
	text-align:center;
}

a {
	font-size: 24px !important;
}

.button_theme {

}

.settings * {
	font-size: 20px !important;
	color: #33CC33 !important;
}

.gold_font {
	color: #FFCC00 !important;
}

.move_up {
	margin-top: -20px;
}

.textbox {
	background-color: #666699 !important;
}